<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Lighthouse Tester</span>
  </mat-toolbar-row>
</mat-toolbar>


<div class="content lighthouse">
  <section>
    <div class="inputs" [ngClass]="testRepeated ? 'unique' : ''">
      <mat-form-field appearance="outline" class="half-width" *ngIf="!testRepeated">
        <mat-label>Up to 20 urls. Each url in new line.</mat-label>
        <textarea matInput [(ngModel)]="urls" rows="20" placeholder="http://www.skroutz.gr/s/123456/example.html"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline" class="half-width" *ngIf="testRepeated">
        <mat-label>Enter a url for repeated Testing</mat-label>
        <input matInput [(ngModel)]="uniqueUrl">
      </mat-form-field>
    </div>
    <div class="options">
      <mat-slide-toggle class="toggler" [(ngModel)]="testRepeated" color="primary" [checked]="testRepeated">
        Test a URL repeatedly?
      </mat-slide-toggle>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>How many times? (max: 20)</mat-label>
        <input matInput type="number" max="20" [(ngModel)]="repeatCounter" [disabled]="!testRepeated">
      </mat-form-field>
      <span *ngIf="testRepeated" class="hint">Bigger number = More time to complete</span>
    </div>
  </section>

  <div class="button-container">
    <button mat-raised-button color="primary" (click)="testRepeated ? logUniqueUrl() : logUrls()" [disabled]="loading">
      {{ testRepeated ? 'Run ' + repeatCounter + ' Tests for unique URL' : "Run Tests" }}
    </button>
    <button mat-raised-button class="download-btn" color="accent" (click)="exportCSV(dataSource)" *ngIf="completed">
      <mat-icon aria-hidden="false" >cloud_download</mat-icon>
      Download CSV file
    </button>
    <mat-progress-spinner class="loading-spinner" color="primary" mode="indeterminate" diameter=30 *ngIf="loading"></mat-progress-spinner>
  </div>


  <div class="results" [style.display]="dataSource.length ? 'block' : 'none'">
    <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> URL </th>
        <td mat-cell *matCellDef="let element"> {{element.url}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> Score </th>
        <td mat-cell *matCellDef="let element"> {{element.score}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="strategy">
        <th mat-header-cell *matHeaderCellDef> Strategy </th>
        <td mat-cell *matCellDef="let element"> {{element.strategy}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="Dom-Size">
        <th mat-header-cell *matHeaderCellDef> Dom Size </th>
        <td mat-cell *matCellDef="let element"> {{element['Dom-Size']}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="First-Contentful-Paint">
        <th mat-header-cell *matHeaderCellDef> FCP </th>
        <td mat-cell *matCellDef="let element"> {{element['First-Contentful-Paint']}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="First-Meaningful-Paint">
        <th mat-header-cell *matHeaderCellDef> FMP </th>
        <td mat-cell *matCellDef="let element"> {{element['First-Meaningful-Paint']}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Speed-Index">
        <th mat-header-cell *matHeaderCellDef> Speed Index </th>
        <td mat-cell *matCellDef="let element"> {{element['Speed-Index']}} </td>
      </ng-container>

          <!-- Symbol Column -->
      <ng-container matColumnDef="First-CPU-Idle">
        <th mat-header-cell *matHeaderCellDef> First CPU Idle </th>
        <td mat-cell *matCellDef="let element"> {{element['First-CPU-Idle']}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Time-to-Interactive">
        <th mat-header-cell *matHeaderCellDef> TTI </th>
        <td mat-cell *matCellDef="let element"> {{element['Time-to-Interactive']}} </td>
      </ng-container>

          <!-- Symbol Column -->
      <ng-container matColumnDef="Estimated-Input-Latency">
        <th mat-header-cell *matHeaderCellDef> Est. Input Latency </th>
        <td mat-cell *matCellDef="let element"> {{element['Estimated-Input-Latency']}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </div>

</div>
